//google fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Krona+One&display=swap');

//base styles
$headfont: 'Krona One', sans-serif;
$font: 'Fira Sans', sans-serif;
$bgcolor: lightblue;
